{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新闻展厅</title>
    <link rel="stylesheet" href="{% static "css/index3d.css"%}" />
</head>
<body>
<section>
    <div style="width: 300px;height: 200px">军事<a href="/mindex1/"><img style="width: 300px;height: 200px" src="{% static "img/new_1/0.jpg"%}" alt="" /></a></div>
    <div style="width: 300px;height: 200px">科教<a href="/mindex2/"><img style="width: 300px;height: 200px"src="{% static "img/new_2/0.jpg"%}" alt="" /></a></div>
    <div style="width: 300px;height: 200px">体育<a href="/mindex3/"><img style="width: 300px;height: 200px"src="{% static "image/3.png"%}" alt="" /></a></div>
    <div style="width: 300px;height: 200px">文娱<a href="/mindex4/"><img style="width: 300px;height: 200px"src="{% static "image/4.png"%}" alt="" /></a></div>
    <div style="width: 300px;height: 200px">综合<a href="/mindex5/"><img style="width: 300px;height: 200px"src="{% static "image/5.png"%}" alt="" /></a></div>
    <div style="width: 300px;height: 200px">疫情<a href="/mindex6/"><img style="width: 300px;height: 200px"src="{% static "image/6.png"%}" alt="" /></a></div>
</section>
</body>
</html>